@media only screen and (min-width: 720px) {
    :root {
        --base-measure: 1vw;
    }
}
@media only screen and (max-width: 720px) {
    :root {
        --base-measure: 1.5vh;
    }
}
.trunk {
    width: calc(10 * var(--base-measure));
    height: calc(20 * var(--base-measure));
    background-color: brown;
    position: absolute;
    bottom: 30vh;
    z-index: 1;
}
.leaves {
    width: 0px;
    height: 0px;
    position: absolute;
    top: -12vw;
    left: calc(-10 * var(--base-measure));
    border-bottom: calc(20 * var(--base-measure)) solid green;
    border-left: calc(15 * var(--base-measure)) solid transparent;
    border-right: calc(15 * var(--base-measure)) solid transparent;
    border-top: 0vw solid transparent;
    z-index: 2;
}
.ornament1 {
    width: calc(2 * var(--base-measure));
    height: calc(2 * var(--base-measure));
    position: absolute;
    top: calc(15 * var(--base-measure));
    left: calc(3 * var(--base-measure));
    border-radius: 100%;
    animation: rainbow 8s linear infinite;
}
.ornament2 {
    width: calc(2 * var(--base-measure));
    height: calc(2 * var(--base-measure));
    position: absolute;
    top: calc(13 * var(--base-measure));
    right: calc(2 * var(--base-measure));
    border-radius: 100%;
    animation: rainbow 8s -2s linear infinite;

}
.ornament3 {
    width: calc(2 * var(--base-measure));
    height: calc(2 * var(--base-measure));
    position: absolute;
    top: calc(5 * var(--base-measure));
    right:calc(-1 * var(--base-measure));
    border-radius: 100%;
    animation: rainbow 8s -4s linear infinite;
}
.gift1 {
    width: calc(5 * var(--base-measure));
    height: calc(5 * var(--base-measure));
    background-color: red;
    position: absolute;
    bottom: 30vh;
    transform: translate(calc(7.5 * var(--base-measure)));
}
.gift2 {
    width: calc(5 * var(--base-measure));
    height: calc(5 * var(--base-measure));
    background-color: green;
    position: absolute;
    bottom: 30vh;
    transform: translate(calc(-7.5 * var(--base-measure)));
}
.gift3 {
    width: calc(5 * var(--base-measure));
    height: calc(5 * var(--base-measure));
    background-color: purple;
    position: absolute;
    bottom: 30vh;
    transform: translateX(calc(7.5 * var(--base-measure))) translateY(calc(-5 * var(--base-measure)));
}
.ribbon1 {
    width: var(--base-measure);
    height: calc(5 * var(--base-measure));
    background-color: green;
    transform: translateX(calc(2 * var(--base-measure)));
}
.ribbon2 {
    width:  var(--base-measure);
    height: calc(5 * var(--base-measure));
    background-color: purple;
    transform: translateX(calc(2 * var(--base-measure)));
}
.ribbon3 {
    width: var(--base-measure);
    height: calc(5 * var(--base-measure));
    background-color: red;
    transform: translateX(calc(2 * var(--base-measure)));
}

body {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-content: center;
    background-color: blue;
}
.moon {
    width: 10vw;
    height: 10vw;
    background-color: grey;
    border-radius: 100%;
    position: absolute;
    top: 5vh;
    left: 5vh;
}
.snowFlake1 {
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 100%;    
    position: absolute;
    right: 15vw;
    animation: descent 5s linear infinite forwards;
}
.snowFlake2 {
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 100%;    
    position: absolute;
    right: 25vw;
    animation: descent 5s -2s linear infinite forwards;
}
.snowFlake3 {
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 100%;    
    position: absolute;
    right: 35vw;
    animation: descent 5s -3s linear infinite forwards;
}
.snowFlake4 {
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 100%;    
    position: absolute;
    right: 70vw;
    animation: descent 5s -4s linear infinite forwards;
}
.snow {
    height: 30vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0px;
    font-size: 5vw;
    text-align: center;
}
.snow::after {
    content: "Jacob Shomali";
    animation: rainbowText 5s forwards infinite;
}

@keyframes rainbow {
    0% { background-color: purple;}
    14% { background-color: indigo;}
    28% { background-color: blue;}
    42% { background-color: green;}
    56% { background-color: yellow;}
    75% { background-color: orange;}
    84% { background-color: red;}
    100% { color: purple;}
}
@keyframes rainbowText {
    0% { color: purple;}
    14% { color: indigo;}
    28% { color: blue;}
    42% { color: green;}
    56% { color: yellow;}
    70% { color: orange;}
    84% { color: red;}
    100% { color: purple;}
}
@keyframes descent {
    0% { top: 0vh }
    20% { transform: translateX(-1vw); }
    40% { transform: translateX(1vw); }
    60% { transform: translateX(-1vw); }
    80% { transform: translateX(1vw); }
    100% { top: 70vh }
}