body {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-content: center;
    background-color: blue;
}
.moon {
    width: 20vh;
    height: 20vh;
    background-color: grey;
    border-radius: 100%;
    position: absolute;
    top: 5vh;
    left: 5vh;
}
.snow {
    height: 30vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0px;
}
.trunk {
    width: 10vw;
    height: 20vw;
    background-color: brown;
    position: absolute;
    bottom: 30vh;
    z-index: 1;
}
.leaves {
    width: 0px;
    height: 0px;
    position: absolute;
    top: -12vw;
    left: -5vw;
    border-bottom: 20vw solid green;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 0vw solid transparent;
    z-index: 2;
}
.ornament1 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 15vw;
    left: 3vw;
    background-color: yellow;
    border-radius: 100%;
}
.ornament2 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 12vw;
    right: 2vw;
    background-color: aquamarine;
    border-radius: 100%;

}
.ornament3 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 5vw;
    right: -1vw;
    background-color: purple;
    border-radius: 100%;
}
.gift1 {
    width: 5vw;
    height: 5vw;
    background-color: red;
    position: absolute;
    bottom: 30vh;
    transform: translate(7.5vw);
}
.gift2 {
    width: 5vw;
    height: 5vw;
    background-color: green;
    position: absolute;
    bottom: 30vh;
    transform: translate(-7.5vw);
}
.gift3 {
    width: 5vw;
    height: 5vw;
    background-color: purple;
    position: absolute;
    bottom: 30vh;
    transform: translateX(7.5vw) translateY(-5vw);
}